:root {
    --neon-pink: rgb(222, 97, 220);
    --off-white: rgb(168, 166, 166);
    --dark-grey: rgb(40, 44, 44);
}

body {
    background-color: var(--dark-grey);
}

header {
    text-align: center;
    margin: 10px 150px 50px 150px;
}

header h1 {
    padding: 15px;
    color: var(--neon-pink);
}

header p {
    color: var(--off-white);
    font-size: 90%;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: var(--off-white) dashed 1px;
    padding: 10px;
    margin: 15px;
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
}

.box-title {
    font-size: 26px;
    color: var(--neon-pink);
    border: var(--off-white) solid 1px;
    padding: 5px 10px;
    margin:0 auto;
    border-radius: 5px;
    max-width: 300px;
    position: relative;
    bottom: 30px;
    background-color: var(--dark-grey);
}

.box, .box-title {
    transition: all 0.5s ease-in-out;
}

.box:hover, .box:hover .box-title {
    box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
    cursor: pointer;
}

.box p {
    color: var(--neon-pink);
    margin: -5px 10px 15px;

}

pre {
    background-image: linear-gradient(rgb(52, 49, 49), rgb(142, 62, 141));
    color: var(--off-white);
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    margin: 10px 5px 5px;
    border-radius: 10px;
    user-select: all;
    cursor: auto;
}

code::selection {
    background: rgb(36, 232, 196);
    color: black;
}

footer {
    color: var(--neon-pink);
    text-align: center;
    margin: 30px;
}

@media screen and (max-width: 500px) {
    header {
        margin: 5px;
        padding: 5px;
    }
}